/* Typography */
html {
    line-height: 1.4;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: var(--title-font);
    padding: 0;
    margin: 0;
}